//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-6.col-xs-6.col-md-6
      h2 Your book name is #{book_name}

      p Density: #{values.book_name} bookname
      p Cost: $#{values.author_name} author name
      p Distance: #{values.book_content} book text
